.order-container{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  box-sizing: border-box;
  margin: auto;
  background-image: linear-gradient( rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url("../images/bcg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  letter-spacing: 0.1em;
  margin-bottom: 94px;
  padding: 118px 40px;
  align-items: center;
  text-align: center;
  
  &__description{
    display: flex;
    font-weight: var(--order-decription-font-weight);
    font-size: var(--order-decription-font-size-mobile);
    line-height: var(--order-decription-line-height-mobile);
    color: var(--order-decription-color);
    text-transform: uppercase;
    // align-items: center;
    padding-top: 118px;
    margin-bottom: 30px;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    padding: 118px 57px 0px 57px;
    }
  
    &__btn{  
      display: flex;
      align-items: center;
      justify-content: center;
    @extend %btn; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-bottom: 118px;
    margin: 0px 140px 118px 140px;
    padding: 10px 42px;
  
    }
  }
  
  %btn{
    font-weight: var(--order-btn-font-weight);
    // line-height: var(--order-btn-line-height);
    background: var(--order-btn-bcg-color);
    font-size: var(--order-btn-font-size);
    color: var(--order-btn-color);
    border-radius: 4px;
    align-items: center;
    border: none;
    cursor: pointer;
    outline: none;
  }



  @media screen and (min-width: 768px){
  .order-container{

    letter-spacing: 0.2em;
    // padding: 118px 40px;
    
    &__description{
      margin-bottom: 30px;
      margin-top: 0;
      padding: 118px 180px 0px 180px;
      }
    
      &__btn{  
      margin: 0px 284px 118px 284px;
    
      }
    }
  }
  
  @media screen and (min-width: 1200px){
.order-container{
  width: 100%;
  max-width: 1600px;
letter-spacing: 0.6em;
margin-bottom: 94px;

&__description{
  font-size: var(--order-decription-font-size);
  padding: 104px 300px 0px 300px;
  letter-spacing: 3%;
  }

&__btn{  
  margin: 0px 650px 160px 650px;

  }
}


@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .order-container {
    background-image: linear-gradient( rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
      url(/goit-markup-hw-08/images/bcg@2x.jpg);
  }}}